*/* This file resets default browser styles to ensure consistency across different browsers. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* Prevents font scaling in landscape */
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 1 */
}

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 1 */
}

a {
    background-color: transparent; /* 1 */
}

abbr[title] {
    text-decoration: underline; /* 1 */
    text-decoration: underline dotted; /* 2 */
}

b,
strong {
    font-weight: bolder; /* 1 */
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 1 */
}

small {
    font-size: 80%; /* 1 */
}

sub {
    font-size: 75%; /* 1 */
    line-height: 0; /* 2 */
    position: relative; /* 3 */
    bottom: 0.25em; /* 4 */
}

sup {
    font-size: 75%; /* 1 */
    line-height: 0; /* 2 */
    position: relative; /* 3 */
    top: 0.25em; /* 4 */
}

table {
    border-collapse: collapse; /* 1 */
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
}

button,
select {
    text-transform: none; /* 1 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; /* 1 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none; /* 1 */
    padding: 0; /* 1 */
}

button:-moz-focus, 
[type="button"]:-moz-focus, 
[type="reset"]:-moz-focus, 
[type="submit"]:-moz-focus {
    outline: 1px dotted ButtonText; /* 1 */
}

input {
    overflow: visible; /* 1 */
}

[hidden] {
    display: none; /* 1 */
}